##############################################################################
#
# Initialization Scenario Description
#
##############################################################################

## alias
# Message
SSM::alias inMessage MessageFilter::Common::TransitionBuffer/inMessage
SSM::alias outMessage MessageFilter::Common::TransitionBuffer/outMessage
SSM::alias write MessageFilter::Common::TransitionBuffer/inStoreMessage
SSM::alias read MessageFilter::Common::TransitionBuffer/inReadMessage
SSM::alias messageAvailable MessageFilter::Common::TransitionBuffer/outMessageAvailable

## inputs
# Message
SSM::set inMessage (0,DataDictionary::RBC,0,((0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0)))))
SSM::set write false
SSM::set read false
