##############################################################################
#
# Initialization Scenario Description
#
##############################################################################

## Alias
SSM::alias inMessage InformationFilter_Pkg::InformationFilter/inMessage
SSM::alias level InformationFilter_Pkg::InformationFilter/inLevel
SSM::alias mode InformationFilter_Pkg::InformationFilter/inModus

SSM::alias outMessage InformationFilter_Pkg::InformationFilter/outMessage

## Init
# int
SSM::set InformationFilter_Pkg::InformationFilter/inSupervisingDevice 0
# bool
SSM::set InformationFilter_Pkg::InformationFilter/inPendingL1Transition false
# bool
SSM::set InformationFilter_Pkg::InformationFilter/inPendingL2L3Transition false
# bool
SSM::set InformationFilter_Pkg::InformationFilter/inPendingAckOfTrainData false
# bool
SSM::set InformationFilter_Pkg::InformationFilter/inEmergencyBrakeActive false
# int
SSM::set InformationFilter_Pkg::InformationFilter/inLastAckTextMessageId 0
# bool
SSM::set InformationFilter_Pkg::InformationFilter/inPendingNTCTransition false
# int
SSM::set InformationFilter_Pkg::InformationFilter/inActiveCab 0
# bool
SSM::set InformationFilter_Pkg::InformationFilter/inTrainDataValid false

