*.err
*.ewo
*.htm
*.vsw
Simulation
KCG
SimuIntegration
*.l4
/model/Scade/System/OBU_PreIntegrations/Testbench_Integration/SimuIntegration
/model/Scade/System/OBU_PreIntegrations/Testbench_Integration/SimuWithoutDebug
/model/Scade/System/OBU_PreIntegrations/Testbench_Integration/ROOT_Integration_KCG613
/openETCS ArchitectureAndDesign/Work Groups/Group 2/Procedure and DMI Management/DMI_DEMO_Helge/DMI_Demo/Standalone/win32
/openETCS ArchitectureAndDesign/Work Groups/Group 2/Procedure and DMI Management/DMI_DEMO_Helge/DMI_Demo/Standalone
