@charset "UTF-8";

InternalBlockDiagram   Property > Compartment[kind=symbol] {
	visible: false}

InternalBlockDiagram   Property > Compartment[kind=structure] {
	visible: true;
	collapsed: false;
	showTitle: false}

Property {
	fontName: "Segoe UI";
	fillColor: #98A8BF;
	transparency: 0;
	lineColor: #000000;
	maskLabel: name}