SSM::set M000_Root/New_data_track true
SSM::set M000_Root/TRAIN_V 0.0
SSM::set M000_Root/TRAIN_Acc 0.0
SSM::set M000_Root/TRAIN_POS 0.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_V 11.0
SSM::set M000_Root/TRAIN_POS 14.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 16.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 18.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 20.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 22.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 30.0
SSM::cycle 2
SSM::set M000_Root/TRAIN_POS 32.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 34.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 36.0
SSM::cycle 2
SSM::set M000_Root/TRAIN_POS 38.0
SSM::cycle 2
SSM::set M000_Root/TRAIN_POS 40.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 42.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 44.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 46.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 48.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 50.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 52.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 54.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 56.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 58.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 60.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 64.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 66.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 68.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 70.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 72.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 74.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 76.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 78.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 80.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 82.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 84.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 86.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 88.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 90.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 92.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 94.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 96.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 98.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 100.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 102.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 104.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 106.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 108.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 110.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 112.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 114.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 116.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 118.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 120.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 122.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 124.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 126.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 128.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 130.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 132.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 134.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 136.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 138.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 140.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 142.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 144.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 146.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 148.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 150.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 152.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 154.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 156.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 158.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 160.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 162.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 164.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 166.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 168.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 170.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 172.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 174.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 176.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 178.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 180.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 182.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 184.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 186.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 188.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 190.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 192.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 194.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 196.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 198.0
SSM::cycle 1
SSM::set M000_Root/TRAIN_POS 200.0
SSM::cycle 1

