@charset "UTF-8";

InternalBlockDiagram   Class[appliedStereotypes~=Block] >
Compartment[kind=symbol] , InternalBlockDiagram  
Class[appliedStereotypes~=Block] >
Compartment[type="AppliedStereotypeCompartment"] , InternalBlockDiagram  
Class[appliedStereotypes~=Block] >
Compartment[type="AppliedStereotypeCompartment"] {
	visible: false}

InternalBlockDiagram   Class[appliedStereotypes~=Block] >
Compartment[kind=structure] {
	visible: true;
	collapsed: false;
	showTitle: false}

Class[appliedStereotypes~=Block] {
	fontName: "Segoe UI";
	fillColor: #E1E187;
	transparency: 0;
	lineColor: #000000}