# @Title: RBC: Session Establishment
# @Project: $MROOT/RBC-System/RBC-System.etp
# @Node: RBC_Internal_Test_Pkg__RBC_Wrapper
# @Config: Simulation

# Author: Alexander Pinnau
# Created: 26.08.2015
# Last changed: 27.08.2015
# Test description:
# - establish the session between RBC and OBU
# TODO:
# [ ] which is the right m_version? see step 02

# imports
source ../../lib/rbc.tcl
source ../../lib/util.tcl

# variables
set t_train 0.2

# (01) -----------------------------------------------------------
# Initialization
rbc::resetMessages
# cycle
#rbc::executeSimulationStep $t_train
puts $t_train
SSM::cycle

# (02) -----------------------------------------------------------
# Send Train Message 155 (OBU to RBC)
rbc::setTrainMsgHeader nid_message=155 t_train=0.4 nid_engine=50001
# Check Output Message 32 (RBC to OBU)
rbc::checkTrackMsgHeader nid_message=32 t_train=20 m_ack=0 nid_lrbg=16777215
# version 15 or 16?
#rbc::checkTrackMsgHeader m_version=15
# Check Session Management
rbc::checkTrainData nid_engine=50001
rbc::checkPositionData nid_lrbg=16777215
# cycle
SSM::cycle

# (03) -----------------------------------------------------------
# empty cycle
rbc::resetMessages
SSM::cycle

# (04) -----------------------------------------------------------
# Send Train Message 159 (OBU to RBC)
rbc::setTrainMsgHeader nid_message=159 t_train=0.8 nid_engine=50001
# Check Session Management
rbc::checkTrainData nid_engine=50001
rbc::checkPositionData nid_lrbg=16777215
# cycle
SSM::cycle

# (05) -----------------------------------------------------------
# empty cycle
rbc::resetMessages
SSM::cycle

# (06) -----------------------------------------------------------
# Send Train Message 129 including (empty) Packet 0 (OBU to RBC)
rbc::setTrainMsgHeader nid_message=129 t_train=1.2 nid_engine=50001
rbc::setTrainMsgPacket0 NID_PACKET=0 L_PACKET=8190
# Check Track Message 8 (RBC to OBU)
rbc::checkTrackMsgHeader nid_message=8 t_train=100 m_ack=1
# Check Session Management
rbc::checkTrainData nid_engine=50001
# cycle
SSM::cycle

# (07) -----------------------------------------------------------
# empty cycle
rbc::resetMessages
SSM::cycle

# (08) -----------------------------------------------------------




# SSM::cycle 2 ; #Zyklus 3

# ------------	Input Message 146 from OBU to RBC	------------

# SSM::set $rbc/inRadioTrainTrackMsg.header.nid_message 146 ;                
# SSM::set $rbc/inRadioTrainTrackMsg.header.t_train 7050
# SSM::set $rbc/inRadioTrainTrackMsg.header.nid_engine 10580

# ------------	Output Message 24 from RBC to OBU	------------
# SSM::check $rbc/outRadioTrackTrainMessage.Header.nid_message 24
# SSM::check $rbc/outRadioTrackTrainMessage.Header.t_train 20
# SSM::check $rbc/outRadioTrackTrainMessage.Header.m_ack 1
# SSM::check $rbc/outRadioTrackTrainMessage.Header.nid_lrbg 16777215 ; #Unknown

# SSM::cycle ; #Zyklus 4

# ------------	Input Message 146 from OBU to RBC	------------
# SSM::set $rbc/inRadioTrainTrackMsg.header.nid_message 146
# SSM::set $rbc/inRadioTrainTrackMsg.header.t_train 7050
# SSM::set $rbc/inRadioTrainTrackMsg.header.nid_engine 10580