# @Title: Basic MA data extraction from Packet15
# @Project: $MROOT/ObuFunctions/TrackAtlas/TrackAtlas.etp
# @Node: TA_MA::Build_MA
# @Config: Simulation

# Created: 28.08.2015
# Last changed: 31.08.2015
# History:
# - 28.08.15, A. Pinnau: initial version
# - 31.08.15, A. Pinnau: test cases improved
# Test description:
# - sending several messages with packet 15 and check if MA are created as expected
# - messages are based on real recorded track messages
# TODO/Comment:
# - 

# internal helper library
source ./ma.tcl

set eut "TA_MA::Build_MA"
msg::input "$eut/MessageIn"

# @1 NOP
# @in no message; no NV
# @out new_MA=false
msg::setMsgNone
checkMA false
SSM::cycle

# @2 Compute Message LRBG_354_D_00275_3_M003
# @in Message LRBG_354_D_00275_3_M003
# ---- message ----
# - l_message = 0
# - t_train = 0
# - m_ack = 1
# - nid_lrbg = 354
# ---- packet 15 ----
# - nid_packet = 15
# - q_dir = 1
# - l_packet = 88
# - q_scale = 1
# - v_loa = 0
# - t_loa = 1023
# - n_iter = 0
# - section: section 0..31 (all sections are empty)
# - l_endsection = 2243
# - q_sectiontimer = 0
# - t_sectiontimer = 0
# - d_sectiontimerstoploc = 0
# - q_endtimer = 0
# - t_endtimer = 0
# - d_endtimerstartloc = 0
# - q_dangerpoint = 0
# - d_dp = 0
# - v_releasedp = 127 --> use national value
# - q_overlap = 0
# - d_startol = 0
# - t_ol = 0
# - d_ol = 0
# - v_releaseol = 0
# @out MA
msg::setMsg3 t_train=0 nid_lrbg=354 m_ack=M_ACK_Acknowledgement_required
msg::addPkt15 q_dir=$Q_DIR_Nominal q_scale=$Q_SCALE_1m v_loa=0 t_loa=1023 n_iter=0\
              l_endsection=2243 q_sectiontimer=0 t_sectiontimer=0 d_sectiontimerstoploc=0\
			  q_endtimer=0 t_endtimer=0 d_endtimerstartloc=0 q_dangerpoint=0 d_dp=0\
			  v_releasedp=127 q_overlap=0 d_startol=0 t_ol=0 d_ol=0 v_releaseol=0
checkMA true valid=true q_dir=Q_DIR_Nominal v_loa=0 t_loa_unlimited=true t_loa=0\
             n_iter=0 q_dangerpoint=false q_overlap=false q_endtimer=false\
             section0:valid=true,q_endsection=true,l_section=224300,q_sectiontimer=false,t_sectiontimer=0,d_sectiontimerstoploc=0 \
			 section1:valid=false,q_endsection=false,l_section=0,q_sectiontimer=false,t_sectiontimer=0,d_sectiontimerstoploc=0			 
SSM::cycle
  
# @3 NOP
# @in no message; no NV
# @out new_MA=false
msg::setMsgNone
checkMA false
SSM::cycle

# @4 Compute Message LRBG_362_D_00230_7_M003
# @in Message LRBG_362_D_00230_7_M003
# ---- message ----
# - l_message = 0
# - t_train = 0
# - m_ack = 1
# - nid_lrbg = 362
# ---- packet 15 ----
# - nid_packet = 15
# - q_dir = 1
# - l_packet = 88
# - q_scale = 1
# - v_loa = 0
# - t_loa = 1023
# - n_iter = 0
# - section: section 0..31 (all sections are empty)
# - l_endsection = 866
# - q_sectiontimer = 0
# - t_sectiontimer = 0
# - d_sectiontimerstoploc = 0
# - q_endtimer = 0
# - t_endtimer = 0
# - d_endtimerstartloc = 0
# - q_dangerpoint = 0
# - d_dp = 0
# - v_releasedp = 127 --> use national value
# - q_overlap = 0
# - d_startol = 0
# - t_ol = 0
# - d_ol = 0
# - v_releaseol = 0
# @out MA
msg::setMsg3 t_train=0 nid_lrbg=362 m_ack=M_ACK_Acknowledgement_required
msg::addPkt15 q_dir=$Q_DIR_Nominal q_scale=$Q_SCALE_1m v_loa=0 t_loa=1023 n_iter=0\
              l_endsection=866 q_sectiontimer=0 t_sectiontimer=0 d_sectiontimerstoploc=0\
			  q_endtimer=0 t_endtimer=0 d_endtimerstartloc=0 q_dangerpoint=0 d_dp=0\
			  v_releasedp=127 q_overlap=0 d_startol=0 t_ol=0 d_ol=0 v_releaseol=0
checkMA true valid=true q_dir=Q_DIR_Nominal v_loa=0 t_loa_unlimited=true t_loa=0\
             n_iter=0 q_dangerpoint=false q_overlap=false q_endtimer=false\
             section0:valid=true,q_endsection=true,l_section=86600,q_sectiontimer=false,t_sectiontimer=0,d_sectiontimerstoploc=0 \
			 section1:valid=false,q_endsection=false,l_section=0,q_sectiontimer=false,t_sectiontimer=0,d_sectiontimerstoploc=0			 
SSM::cycle