<?xml version="1.0" encoding="UTF-8"?>

<?dom version="17.2" ?>

<?scade_release version="R17.2" ?>

<colorTable backgroundIndex="6" name="color_table" size="16">
    <colorDefinition alpha="0xFF" index="1" name="white" rgb="0xFFFFFF"/>
    <colorDefinition alpha="0xFF" index="2" name="black" rgb="0x000000"/>
    <colorDefinition alpha="0xFF" index="3" name="grey" rgb="0xC3C3C3"/>
    <colorDefinition alpha="0xFF" index="4" name="medium grey" rgb="0x969696"/>
    <colorDefinition alpha="0xFF" index="5" name="dark grey" rgb="0x555555"/>
    <colorDefinition alpha="0xFF" index="6" name="dark blue" rgb="0x031122"/>
    <colorDefinition alpha="0xFF" index="7" name="shadow" rgb="0x081839"/>
    <colorDefinition alpha="0xFF" index="8" name="yellow" rgb="0xDFDF00"/>
    <colorDefinition alpha="0xFF" index="9" name="orange" rgb="0xEA9100"/>
    <colorDefinition alpha="0xFF" index="10" name="red" rgb="0xBF0002"/>
    <colorDefinition alpha="0xFF" index="11" name="PASP dark" rgb="0x21314A"/>
    <colorDefinition alpha="0xFF" index="12" name="PASP light" rgb="0x294A6B"/>
</colorTable>

<!-- crc32 : 3897092027 -->

