# @Title: TBD
# @Project: $MROOT/ObuFunctions/TrackAtlas/TrackAtlas.etp
# @Node: TA_Gradient::Build_GradientProfile
# @Config: Simulation

source "[file dirname [info script]]/gradient.tcl"

set eut "TA_Gradient::Build_GradientProfile"
set gpOut "$eut/GP"
msg::input "$eut/MessageIn"
train::inputTrainPosition "$eut/train_position"


