##############################################################################
#
# Scenario Description
#
##############################################################################

## Set to write messages
SSM::set write true
SSM::set read false


## Write 5 messages
SSM::set inMessage (0,DataDictionary::RBC,0,((0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0)))))
SSM::cycle

SSM::set inMessage (1,DataDictionary::RBC,0,((0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0)))))
SSM::cycle

SSM::set inMessage (2,DataDictionary::RBC,0,((0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0)))))
SSM::cycle

SSM::set inMessage (3,DataDictionary::RBC,0,((0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0)))))
SSM::cycle

SSM::set inMessage (4,DataDictionary::RBC,0,((0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0)))))
SSM::cycle

## Read all messages in FIFO order. The last three should be read.
SSM::set write false
SSM::set read true

SSM::check messageAvailable true
SSM::check outMessage (2,DataDictionary::RBC,0,((0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0)))))
SSM::cycle

SSM::check messageAvailable true
SSM::check outMessage (3,DataDictionary::RBC,0,((0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0)))))
SSM::cycle

SSM::check messageAvailable true
SSM::check outMessage (4,DataDictionary::RBC,0,((0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0)))))
SSM::cycle

SSM::check messageAvailable false
SSM::cycle 

SSM::check messageAvailable false
SSM::cycle 

SSM::check messageAvailable false
SSM::cycle 