##############################################################################
#
# Initialization Scenario Description
#
##############################################################################

## alias
# Message
SSM::alias MessageFilter::Common::TransitionBuffer/inMessage inMessage
# bool
SSM::alias MessageFilter::Common::TransitionBuffer/inStoreMessage write
# bool
SSM::alias MessageFilter::Common::TransitionBuffer/inReadMessage read

## inputs
# Message
SSM::set inMessage (0,DataDictionary::RBC,0,((0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0)))))
# bool
SSM::set write false
# bool
SSM::set read false
