##############################################################################
#
# Aliases Table Description
#
##############################################################################

## inputs
SSM::alias message MessageFilter::SecondFilter::SecondFilter/inMessage
SSM::alias supervisingRbcId MessageFilter::SecondFilter::SecondFilter/inSupervisingRbcId
## outputs
SSM::alias messageAccepted MessageFilter::SecondFilter::SecondFilter/outMessageAccepted
SSM::alias storeInTransitionBuffer MessageFilter::SecondFilter::SecondFilter/outStoreInTransitionBuffer
