SSM::set supervisingRbcId 1234

# Revocation of Emergency Stop
SSM::set message (18,DataDictionary::RBC, 0,((0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0)))))
SSM::check messageAccepted false
SSM::check storeInTransitionBuffer false
SSM::cycle

# Acknowledgement of Train Data
SSM::set message (8,DataDictionary::RBC, 0,((0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0)))))
SSM::check messageAccepted true
SSM::check storeInTransitionBuffer false
SSM::cycle

# Acknowledgement of termination of a communication session
SSM::set message (39,DataDictionary::RBC, 0,((0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0)))))
SSM::check messageAccepted true
SSM::check storeInTransitionBuffer false
SSM::cycle

# Initiate communication session
SSM::set message (38,DataDictionary::RBC, 0,((0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0)))))
SSM::check messageAccepted true
SSM::check storeInTransitionBuffer false
SSM::cycle

# All other messages are stored in transition buffer

# Movement Authority
SSM::set message (3,DataDictionary::RBC, 0,((0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0)))))
SSM::check messageAccepted false
SSM::check storeInTransitionBuffer true
SSM::cycle

# SR Authorisation
SSM::set message (2,DataDictionary::RBC, 0,((0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0)))))
SSM::check messageAccepted false
SSM::check storeInTransitionBuffer true
SSM::cycle

# Recognition of exit from TRIP mode
SSM::set message (6,DataDictionary::RBC, 0,((0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0)))))
SSM::check messageAccepted false
SSM::check storeInTransitionBuffer true
SSM::cycle


# SoM position report confirmed by RBC
SSM::set message (43,DataDictionary::RBC, 0,((0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0)))))
SSM::check messageAccepted false
SSM::check storeInTransitionBuffer true
SSM::cycle