##############################################################################
#
# Scenario Description
#
##############################################################################

## Set to write and read messages
SSM::set write true
SSM::set read true

## Write messsage and read continously
SSM::set inMessage (0,DataDictionary::RBC,0,((0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0)))))
SSM::check messageAvailable false
SSM::cycle

SSM::set inMessage (1,DataDictionary::RBC,0,((0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0)))))
SSM::check inMessage (0,DataDictionary::RBC,0,((0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0)))))
SSM::check messageAvailable true
SSM::cycle

SSM::set inMessage (2,DataDictionary::RBC,0,((0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0)))))
SSM::check inMessage (1,DataDictionary::RBC,0,((0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0)))))
SSM::check messageAvailable true
SSM::cycle

SSM::set inMessage (3,DataDictionary::RBC,0,((0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0)))))
SSM::check inMessage (2,DataDictionary::RBC,0,((0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0)))))
SSM::check messageAvailable true
SSM::cycle

SSM::set inMessage (4,DataDictionary::RBC,0,((0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0)))))
SSM::check inMessage (3,DataDictionary::RBC,0,((0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0)))))
SSM::check messageAvailable true
SSM::cycle

SSM::set inMessage (5,DataDictionary::RBC,0,((0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0)))))
SSM::check inMessage (4,DataDictionary::RBC,0,((0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0)))))
SSM::check messageAvailable true
SSM::cycle

SSM::set inMessage (6,DataDictionary::RBC,0,((0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0)))))
SSM::check inMessage (5,DataDictionary::RBC,0,((0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0)))))
SSM::check messageAvailable true
SSM::cycle

SSM::set write false
SSM::check inMessage (6,DataDictionary::RBC,0,((0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0))),(0,false,((0),(0),(0),(0),(0),(0),(0),(0),(0),(0)))))
SSM::check messageAvailable true
SSM::cycle

SSM::check messageAvailable false
SSM::cycle