
body {
  padding: 1em;
  font-family: sans-serif;
  font-size: 11pt;
}

table.results {
  border-collapse: collapse;
  border: 1px solid grey;
}

.results th, .results td {
  padding: 5px;
  border: 1px dotted grey;
  border-collapse: collapse;
}

.results th {
  border-bottom: 1px solid grey;
  background: lightgray;
  text-align: left;
}

.results-group {
  font-weight: bold;
}

.success {
  background: lightgreen;
}
.details-body .success {
  color: green;
}

.failure {
  background: lightsalmon;
}
.details-body .failure {
  color: red;
}

a {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

div.details-hidden {
  display: none;
}

div.details-visible {
  display: block;
  position: fixed;
  z-index: 500;
  background: white;
  border: 1px solid #aaaaaa;
  width: 600px;
  height: 450px;
  margin-left: -250px;
  margin-top: -225px;
  top: 50%;
  left: 50%;
}

div.title {
  background: #eeeeee;
  border-bottom: 1px solid #aaaaaa;
  height: 20px;
  line-height: 20px;
  font-weight: bold;
  padding: 5px;
  vertical-align: middle;
}


div.title span {
  float: right;
  border: 1px solid #aaaaaa;
  background: white;
  width: 20px;
  cursor: pointer;
  text-align: center;
}

div.details-body {
  padding: 5px;
  height: 409px;
  overflow: auto;
}

.lv-table th {
  background: none;
  text-align: right;
  border: none;
  padding-bottom: 2px;
  padding-top: 2px;
}

.lv-table td {
  background: none;
  border: none;
  padding-bottom: 2px;
  padding-top: 2px;
}

.log {
  /*margin-left:10px;*/
  /*margin-right: 10px;*/
}

.log pre {
  margin: 0 0 5px 10px;
}

.log h4 {
  margin: 10px 0 10px 5px;
}

pre.E {
  color: red;
}
