# @Title: TBD
# @Project: $MROOT/ObuFunctions/TrackAtlas/TrackAtlas.etp
# @Node: TA_Gradient::Build_GradientProfile
# @Config: Simulation

# History:
# - 24.08.15, J. Kastner: initial version
source ../../lib/msg.tcl
source ../../lib/train.tcl

set eut "TA_Gradient::Build_GradientProfile"
msg::input "$eut/MessageIn"

msg::setMsg3
util::check "$eut/" updated=true
SSM::cycle

