<?xml version="1.0" encoding="UTF-8"?>

<?dom version="R15" ?>

<?scade_release version="R15.1" ?>

<colorTable backgroundIndex="7" size="2048">
    <colorDefinition index="1" name="BLACK" rgb="0x000000"/>
    <colorDefinition index="2" name="WHITE" rgb="0xFFFFFF"/>
    <colorDefinition index="3" name="LIGHTER GREY" rgb="0xF2F2F2"/>
    <colorDefinition index="4" name="LIGHT GREY" rgb="0xCCCCCC"/>
    <colorDefinition index="5" name="GREY" rgb="0x999999"/>
    <colorDefinition index="6" name="DARK GREY" rgb="0x666666"/>
    <colorDefinition index="7" name="DARKER GREY" rgb="0x333333"/>
    <colorDefinition index="11" name="RED" rgb="0xFF0000"/>
    <colorDefinition index="12" name="LIGHTEST RED" rgb="0xFFD5D5"/>
    <colorDefinition index="13" name="LIGHTER RED" rgb="0xFFAAAA"/>
    <colorDefinition index="14" name="LIGHT RED" rgb="0xFF5555"/>
    <colorDefinition index="15" name="DARK RED" rgb="0xD40000"/>
    <colorDefinition index="16" name="DARKER RED" rgb="0xAA0000"/>
    <colorDefinition index="17" name="DARKEST RED" rgb="0x800000"/>
    <colorDefinition index="21" name="ORANGE" rgb="0xFF8000"/>
    <colorDefinition index="22" name="LIGHTEST ORANGE" rgb="0xFFE6D5"/>
    <colorDefinition index="23" name="LIGHTER ORANGE" rgb="0xFFCCAA"/>
    <colorDefinition index="24" name="LIGHT ORANGE" rgb="0xFF9955"/>
    <colorDefinition index="25" name="DARK ORANGE" rgb="0xD45500"/>
    <colorDefinition index="26" name="DARKER ORANGE" rgb="0xAA4400"/>
    <colorDefinition index="27" name="DARKEST ORANGE" rgb="0x803300"/>
    <colorDefinition index="31" name="YELLOW" rgb="0xFFFF00"/>
    <colorDefinition index="32" name="LIGHTEST YELLOW" rgb="0xFFF6D5"/>
    <colorDefinition index="33" name="LIGHTER YELLOW" rgb="0xFFEEAA"/>
    <colorDefinition index="34" name="LIGHT YELLOW" rgb="0xFFDD55"/>
    <colorDefinition index="35" name="DARK YELLOW" rgb="0xFFCC00"/>
    <colorDefinition index="36" name="DARKER YELLOW" rgb="0xD4AA00"/>
    <colorDefinition index="37" name="DARKEST YELLOW" rgb="0xAA8800"/>
    <colorDefinition index="41" name="GREEN" rgb="0x00FF00"/>
    <colorDefinition index="42" name="LIGHTEST GREEN" rgb="0xD5FFD5"/>
    <colorDefinition index="43" name="LIGHTER GREEN" rgb="0xAAFFAA"/>
    <colorDefinition index="44" name="LIGHT GREEN" rgb="0x55FF55"/>
    <colorDefinition index="45" name="DARK GREEN" rgb="0x00D400"/>
    <colorDefinition index="46" name="DARKER GREEN" rgb="0x00AA00"/>
    <colorDefinition index="47" name="DARKEST GREEN" rgb="0x008000"/>
    <colorDefinition index="51" name="CYAN" rgb="0x00FFFF"/>
    <colorDefinition index="52" name="LIGHTEST CYAN" rgb="0xD5FFF6"/>
    <colorDefinition index="53" name="LIGHTER CYAN" rgb="0xAAFFEE"/>
    <colorDefinition index="54" name="LIGHT CYAN" rgb="0x55FFDD"/>
    <colorDefinition index="55" name="DARK CYAN" rgb="0x00D4AA"/>
    <colorDefinition index="56" name="DARKER CYAN" rgb="0x00AA88"/>
    <colorDefinition index="57" name="DARKEST CYAN" rgb="0x006666"/>
    <colorDefinition index="61" name="BLUE" rgb="0x0000FF"/>
    <colorDefinition index="62" name="LIGHTEST BLUE" rgb="0xD5D5FF"/>
    <colorDefinition index="63" name="LIGHTER BLUE" rgb="0xAAAAFF"/>
    <colorDefinition index="64" name="LIGHT BLUE" rgb="0x5555FF"/>
    <colorDefinition index="65" name="DARK BLUE" rgb="0x0000D4"/>
    <colorDefinition index="66" name="DARKER BLUE" rgb="0x0000AA"/>
    <colorDefinition index="67" name="DARKEST BLUE" rgb="0x000080"/>
    <colorDefinition index="71" name="FUSCHIA" rgb="0xFF00FF"/>
    <colorDefinition index="72" name="LIGHTEST FUSCHIA" rgb="0xFFD5F6"/>
    <colorDefinition index="73" name="LIGHTER FUSCHIA" rgb="0xFFAAEE"/>
    <colorDefinition index="74" name="LIGHT FUSCHIA" rgb="0xFF55DD"/>
    <colorDefinition index="75" name="DARK FUSCHIA" rgb="0xFF00CC"/>
    <colorDefinition index="76" name="DARKER FUSCHIA" rgb="0xD400AA"/>
    <colorDefinition index="77" name="DARKEST FUSCHIA" rgb="0x800066"/>
    <colorDefinition index="78" name="AndroidGreen" rgb="0x669900"/>
    <colorDefinition index="81" name="AndroidGreenLight" rgb="0x99CC00"/>
    <colorDefinition index="82" name="AndroidRed" rgb="0xCC0000"/>
    <colorDefinition index="83" name="AndroidRedLight" rgb="0xFF4444"/>
    <colorDefinition index="127" name="BACKGROUND" rgb="0x000000"/>
</colorTable>

<!-- crc32 : 427884849 -->

