##############################################################################
#
# Aliases Table Description
#
##############################################################################

## inputs
SSM::alias API_balise ManageBaliseInfomation_Integration_Pkg::ManageBaliseInfomation/API_balise
SSM::alias ActualOdometry ManageBaliseInfomation_Integration_Pkg::ManageBaliseInfomation/ActualOdometry
SSM::alias reset ManageBaliseInfomation_Integration_Pkg::ManageBaliseInfomation/reset
SSM::alias Train_Data ManageBaliseInfomation_Integration_Pkg::ManageBaliseInfomation/Train_Data
SSM::alias storedBGs ManageBaliseInfomation_Integration_Pkg::ManageBaliseInfomation/storedBGs
SSM::alias trainPosition ManageBaliseInfomation_Integration_Pkg::ManageBaliseInfomation/trainPosition
SSM::alias trainStatus ManageBaliseInfomation_Integration_Pkg::ManageBaliseInfomation/trainStatus
## outputs
SSM::alias BG_Message ManageBaliseInfomation_Integration_Pkg::ManageBaliseInfomation/BG_Message
SSM::alias ApplyServiceBrake ManageBaliseInfomation_Integration_Pkg::ManageBaliseInfomation/ApplyServiceBrake
SSM::alias BadBaliseMessageToDMI ManageBaliseInfomation_Integration_Pkg::ManageBaliseInfomation/BadBaliseMessageToDMI
SSM::alias errorLinkedBG ManageBaliseInfomation_Integration_Pkg::ManageBaliseInfomation/errorLinkedBG
SSM::alias errorUnlinkedBG ManageBaliseInfomation_Integration_Pkg::ManageBaliseInfomation/errorUnlinkedBG
