SSM::set D_behavior/MousePressed false
SSM::set D_behavior/OverD9 false
SSM::set D_behavior/OverD12 false
SSM::set D_behavior/TrainPosition 0.0
SSM::set D_behavior/GradientsStart (0.0, 500.0, 2000.0, 10000.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
SSM::set D_behavior/GradientsEnd (500.0, 1000.0, 4000.0, 20000.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
SSM::cycle 1
SSM::set D_behavior/MousePressed true
SSM::set D_behavior/OverD9 true
SSM::set D_behavior/OverD12 false
SSM::set D_behavior/TrainPosition 0.0
SSM::set D_behavior/GradientsStart (0.0, 500.0, 2000.0, 10000.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
SSM::set D_behavior/GradientsEnd (500.0, 1000.0, 4000.0, 20000.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
SSM::cycle 2
