SSM::set PositionToScaleInterpolation/Scale (0.0, 200.0, 400.0, 600.0, 800.0, 1000.0, 2000.0, 4000.0, 8000.0)
SSM::set PositionToScaleInterpolation/TrainPosition 0.0
SSM::set PositionToScaleInterpolation/TargetPosition 50.0
SSM::cycle 1
