<?xml version="1.0" encoding="UTF-8"?>

<?dom version="R16" ?>

<?scade_release version="R16" ?>

<colorTable backgroundIndex="1" name="color_table" size="2048">
    <colorDefinition alpha="0xFF" index="1" name="BLACK" rgb="0x000000"/>
    <colorDefinition alpha="0xFF" index="2" name="SKY" rgb="0x305CA8"/>
    <colorDefinition alpha="0xFF" index="4" name="GROUND" rgb="0x602C00"/>
    <colorDefinition alpha="0xFF" index="6" name="BLUE1" rgb="0x0000F8"/>
    <colorDefinition alpha="0xFF" index="11" name="GREEN1" rgb="0x00FC00"/>
    <colorDefinition alpha="0xFF" index="13" name="GREEN3" rgb="0x00B800"/>
    <colorDefinition alpha="0xFF" index="14" name="GREEN4" rgb="0x00A800"/>
    <colorDefinition alpha="0xFF" index="15" name="GREEN5" rgb="0x008400"/>
    <colorDefinition alpha="0xFF" index="16" name="CYAN1" rgb="0x40D8E0"/>
    <colorDefinition alpha="0xFF" index="17" name="CYAN2" rgb="0x40DCE0"/>
    <colorDefinition alpha="0xFF" index="18" name="CYAN3" rgb="0x40A8E0"/>
    <colorDefinition alpha="0xFF" index="20" name="DARKGREY" rgb="0x181818"/>
    <colorDefinition alpha="0xFF" index="21" name="GREY1" rgb="0xA8A0B0"/>
    <colorDefinition alpha="0xFF" index="22" name="GREY2" rgb="0x283430"/>
    <colorDefinition alpha="0xFF" index="23" name="GREY3" rgb="0x584C60"/>
    <colorDefinition alpha="0xFF" index="24" name="GREY4" rgb="0x706C78"/>
    <colorDefinition alpha="0xFF" index="25" name="GREY5" rgb="0x706470"/>
    <colorDefinition alpha="0xFF" index="26" name="MAGENTA1" rgb="0xF06CE0"/>
    <colorDefinition alpha="0xFF" index="27" name="MAGENTA2" rgb="0xF06CE0"/>
    <colorDefinition alpha="0xFF" index="28" name="MAGENTA3" rgb="0xE85CE0"/>
    <colorDefinition alpha="0xFF" index="31" name="AMBER1" rgb="0xF07C00"/>
    <colorDefinition alpha="0xFF" index="32" name="AMBER2" rgb="0xF09000"/>
    <colorDefinition alpha="0xFF" index="33" name="AMBER3" rgb="0xE06C00"/>
    <colorDefinition alpha="0xFF" index="34" name="AMBER4" rgb="0xF07C00"/>
    <colorDefinition alpha="0xFF" index="36" name="RED1" rgb="0xF80000"/>
    <colorDefinition alpha="0xFF" index="37" name="RED2" rgb="0xF80000"/>
    <colorDefinition alpha="0xFF" index="38" name="RED3" rgb="0xD80000"/>
    <colorDefinition alpha="0xFF" index="39" name="RED4" rgb="0xB80000"/>
    <colorDefinition alpha="0xFF" index="41" name="WHITE1" rgb="0xE8F0E8"/>
    <colorDefinition alpha="0xFF" index="43" name="WHITE3" rgb="0xE0E8E0"/>
    <colorDefinition alpha="0xFF" index="46" name="YELLOW1" rgb="0xF8FC00"/>
    <colorDefinition alpha="0xFF" index="48" name="YELLOW3" rgb="0xF0DC00"/>
    <colorDefinition alpha="0xFF" index="51" name="GREY6" rgb="0x101818"/>
    <colorDefinition alpha="0xFF" index="53" name="b1" rgb="0xC8CCF8"/>
    <colorDefinition alpha="0xFF" index="54" name="b2" rgb="0x9898F8"/>
    <colorDefinition alpha="0xFF" index="55" name="b3" rgb="0x6064F8"/>
    <colorDefinition alpha="0xFF" index="56" name="b4" rgb="0x3030F8"/>
    <colorDefinition alpha="0xFF" index="57" name="b5" rgb="0x0000F8"/>
    <colorDefinition alpha="0xFF" index="58" name="b6" rgb="0x0000C8"/>
    <colorDefinition alpha="0xFF" index="59" name="b7" rgb="0x000098"/>
</colorTable>

<!-- crc32 : 4214582322 -->

