@charset "UTF-8";

InternalBlockDiagram   Class[appliedStereotypes~=Block] >Compartment[type="AppliedStereotypeCompartment"] , InternalBlockDiagram  
Class[appliedStereotypes~=Block] >Compartment[kind=symbol] ,
InternalBlockDiagram   Class[appliedStereotypes~=Block] >Compartment[type="AppliedStereotypeCompartment"] {
	visible: false}

InternalBlockDiagram   Class[appliedStereotypes~=Block] >Compartment[kind=structure] {
	visible: true;
	collapsed: false;
	showTitle: false}

InternalBlockDiagram   Property >Compartment[kind=symbol] {
	visible: false}

InternalBlockDiagram   Property >Compartment[kind=structure] {
	visible: true;
	collapsed: false;
	showTitle: false}

Property {
	fontName: "Segoe UI";
	fillColor: #98A8BF;
	gradient: none;
	transparency: 0;
	lineColor: #000000;
	displayTag: false;
	elementIcon: false;
	maskLabel: name}
	
Connector {
	closestDistance: true;
	avoidObstructions: true;
}

Comment {
	gradient: none;
	transparency: 0;
	lineColor: #000000;
	maskLabel: name}
	

Class[appliedStereotypes~=Block] {
	fontName: "Segoe UI";
	fillColor: #C0C0C0;
	gradient: none;
	transparency: 0;
	lineColor: #000000;
	shadow: false;
	elementIcon: false;
	displayTag: false}

Port {
	elementIcon: false;
}

Port > Label  { 
	maskLabel: name;
}